<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">Présentation</h2>
    <p>INXPO est une plateforme de streaming vidéo permettant de créer des expériences événementielles de style télévisuel. Pour toucher un public plus large, vous pouvez utiliser Brightcove Live pour diffuser votre événement en continu.</p>  </section><section class="bcls-section">
    <h2 id="Steps">Étapes</h2>
    <p>Suivez ces étapes pour organiser une réunion sur Brightcove Live:</p>
    <ol class="bcls-tasklist-restart">
      <li>Dans Studio, créez un événement en<a href="/live/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank"> direct {% if site.product_short == Video Cloud-fr/ ou site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} en utilisant le module Live</a>. {% endif %} {% if site.product_short == Live-fr/ %} <a href="/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank">événement en direct à l'aide du module Live</a>. {% endif %}<aside class="bcls-aside bcls-aside--information"> Si vous souhaitez enregistrer la diffusion une fois qu'elle est terminée, assurez-vous de cocher la case<strong> Convertir l'événement en vidéo une fois terminée</strong>™ case à cocher&nbsp;!</aside>
      </li>
      <li>Une fois que vous avez créé l'événement en direct, copiez l'URL RTMP Streaming et la clé de diffusion depuis le<strong> panneau</strong> Control Room.
        <ul>
          <li><strong>URL RTMP de</strong> streaming<strong> - URL du point de terminaison de streaming</strong> (Vous pouvez trouver l'URL du point de terminaison dans la salle de contrôle Brightcove Live</li>
          <li><strong>Clé de diffusion en continu</strong>: nom du<strong> flux</strong> (dans Brightcove, le nom du flux est toujours<strong> actif-fr/</strong>)</li>
        </ul>
      </li>
      <li>Publiez et intégrez le lecteur de cet événement en direct sur votre site web/page intranet, et notez l'URL de la page.</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Streaming Session">Configuration de la session de streaming</h2>
    <p>Avec l'URL RTMP Streaming et la clé de diffusion en continu, vous devez les configurer sur l'outil de production INXPO.</p>
    <ol class="bcls-tasklist-restart">
      <li>Accédez à l'outil de production INXPO et cliquez sur l'icône à 3 points pour accéder à la section Détails de la sortie. <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/inxpo/3dots.png" /></figure>
      </li>
      <li>Cliquez sur l'icône représentant un crayon. </li>
      <li>Remplissez les informations suivantes avec vos informations d'identification pour l'événement Brightcove Live. <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/inxpo/RTMPOuput.png" /></figure>
      </li>
      <li>Dans le<strong> champ</strong> Titre, ajoutez le nom du flux en direct de Brightcove.</li>
      <li>Dans le<strong> champ Profil d'</strong>encodage, sélectionnez le profil d'encodage par défaut dont les paramètres définissent la façon dont l'encodeur compresse et diffuse la webdiffusion aux participants.</li>
      <li>Dans le<strong> champ URL</strong> RTMP, insérez l'URL du point de terminaison de streaming Brightcove.</li>
      <li>Cliquez sur le<strong> bouton</strong> OK.</li>
    </ol>   </section></article>